form{
    margin-top: 15%;
    text-align: left;
    border: solid 2px white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(255, 4, 234);
}

 a{
    text-transform: none;
    color: white;
    text-decoration: none;
}

body{
   background-color: mediumpurple;
}

.form-label{
    color: aliceblue;
    font-size: 20px;
}

.btn{
    width: 40%;
    margin-top: 20px;
}

.button{
    text-align: center;
}

.img {
    margin-top: 30%;
}

#h1_cad_user{
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(120, 10, 139);
  text-shadow: 3px 3px 1px rgb;
}